# Python
backend/venv/
backend/__pycache__/
backend/**/*.pyc

# Node
frontend/node_modules/

# Environment Variables
backend/.env

# VS Code
.vscode/

# Build files
frontend/dist/

# OS
.DS_Store
Thumbs.db